
body {
    gap: 0px;
    margin: 0px;
    padding: 0px;

    display: grid;
    place-items: center;

    font-family: "Playfair Display", serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: #e7eaf6;
}

/*
 *  Background
 */
.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 700px;
    background-color: #113f67;

    transform: skewY(-0.20rad) translateY(-300px);

    top: 0px;
    left: 0px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;

    /* background-color: red; */
    justify-content: center;
    align-items: center;
    
    max-width: 1000px;
    flex-wrap: wrap;

    padding: 2rem 0px 0px 0px;
}

/* .portrait {
    background-color: blue;
} */

.portrait > img {
    display: block;
    height: 500px;
    width: auto;
}

.about-me {
    background-color: #e7eaf6;
    min-height: 200px;
    flex: 1;
    min-width: 600px;
    padding: 20px;

    font-size: 1.25rem;

    box-shadow: 0rem 0rem 2rem 0.1rem rgb(77, 77, 77);
}

main {
    width: 100vw;
    /* background-color: orange; */

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.main-content {
    display: grid;
    flex-direction: column;

    min-width: 400px;
    width: 70%;
    max-width: 1680px;
    padding: 5rem;

    /* background-color: lime; */
}

.main-content > p {
    text-align: left;
    /* background-color: blue; */
    margin: 0px 0px 20px 0px;
    font-size: 36px;
}

.sperator-line {
    height: 0.05rem;
    width: 100%;
    background-color: black;

    margin: 0px 0px 20px 0px
}

.projects { 

    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 50px;

    display: grid;
    justify-content: space-between;

    height: fit-content;
}

.projects > div {
    background-color: #e7eaf6;
    min-height: 400px;

    overflow: hidden;
}

.project-card > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.project-card {
    transition: 0.3s ease-out;
    border-radius: 20px;

    border-style: solid;
    border-width: 3px;

    filter:grayscale(85%);
}

.project-card:hover {
    scale: 1.05;
    border-color: rgb(110, 110, 0);

    filter:grayscale(0%);
    box-shadow: 0.25rem 0.5rem 1rem 0.15rem rgb(83, 83, 83);
}

.project-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px 0px 10px;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.project-links > button {
    border: none;
    background-color: inherit;

    width: 2.2rem;
    height: 2.2rem;

    transition: 0.3s;
}

.project-links > button > img {
    width: inherit;
    object-fit: cover;
}

.project-links > button:hover {
    scale: 1.1;
}

.project-links > button:active {
    scale: 0.9;
}

.card-info > p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding: 0px 10px 0px 10px;
}

footer {
    background-color: #113f67;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-grid-container {
    display: grid;
    flex-direction: row;

    max-width: 1680px;
    width: fit-content;
    min-width: 70%;
    /* background-color: blueviolet; */

    padding: 50px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* gap: 5rem; */
}

.footer-container > div {
    height: auto;
    /* background-color: brown; */
    overflow-x: hidden;
}

.footer-image-container > img {

    display: block;
    height: 500px;
    object-fit: cover;
}

.contact {
    color: white;
    font-size: 1.5rem;
}

.contact > p {
    font-family: 'Roboto', sans-serif;
}